<div class="alert-message col-md-12 text-center mb-1">
    <div class="explanation">
        <app-explanation-mark [mainExplanation]="'observationSheet.mainExplanation'"></app-explanation-mark>
    </div>
</div>

<div class="mb-1 d-flex align-items-center justify-content-end">
    <app-generate-pdf-report [path]=" path" [file]="fileExportReport" [groupBy]="'fbz'"></app-generate-pdf-report>
</div>
<app-dynamic-grid #grid [path]="path" [file]="file" [fileExportReport]="fileExportReport" [groupBy]="'fbz'"
    [height]="'calc(100vh - 25vh)'"></app-dynamic-grid>