<div class="informations d-flex row">
    <div class="col-md-12">
        <app-go-back></app-go-back>
    </div>
    <div class="col-md-12 owner text-center mb-1">
        <h3><b>{{userProfile.firstname}} {{userProfile.lastname}}</b></h3>
        <label>{{'commonFields.year' | translate}}: <b>{{_activatedRouter.snapshot.queryParams.year}}</b></label> &nbsp;
    </div>

    <div class="col-md-12 text-center">
        <ngb-alert *ngIf="observationSheetReport.status == OBSERVATION_SHEET_REPORT_ENUM.completed" [type]="'success'"
            [dismissible]="false">
            <div class="alert-body">{{'actionMessage.reportCompleted' | translate}}
                {{observationSheetReport.date_completed | date: 'dd.MM.yyyy. HH:mm'}}
            </div>
        </ngb-alert>
        <ngb-alert *ngIf="observationSheetReport.status == OBSERVATION_SHEET_REPORT_ENUM.draft" [type]="'warning'"
            [dismissible]="false">
            <div class="alert-body">{{'actionMessage.observationReportNotCompletedYet' | translate}}</div>
        </ngb-alert>
    </div>
    <div class="col-md-12 mb-1">
        <div class="d-flex justify-content-end">
            <button *ngIf="observationSheetReport.status == OBSERVATION_SHEET_REPORT_ENUM.completed"
                class="btn btn-warning" (click)="dialogConfirmBackReportShow()"><span class="fa fa-backward"></span>
                {{'action.backReportToOwner' |
                translate}}</button>

            <button *ngIf="observationSheetReport.status == OBSERVATION_SHEET_REPORT_ENUM.draft" class="btn btn-info"
                (click)="dialogConfirmReminderOwnerShow()"><span class="fa fa-bell"></span>
                {{'action.reminderOwnerToCompleteReport' |
                translate}}</button>
        </div>
    </div>

</div>

<app-dynamic-grid #grid *ngIf="!loader" [path]="path" [file]="file" [data]="data"
    [height]="'calc(100vh - 40vh)'"></app-dynamic-grid>

<app-dialog-confirm #dialogConfirmBackReport [title]="('actionMessage.dialogBackReportToOwnerTitle' | translate)"
    [content]="('actionMessage.dialogBackReportToOwnerText' | translate)"
    [confirmButtonText]="('generalDialog.yes' | translate)" [cancelButtonText]="('generalDialog.no' | translate)"
    (confirm)="backObservationSheetReportToOwner()"></app-dialog-confirm>

<app-dialog-confirm #dialogConfirmReminderOwner
    [title]="('actionMessage.dialogReminderOwnerToCompleteReportTitle' | translate)"
    [content]="('actionMessage.dialogReminderOwnerToCompleteReportText' | translate)"
    [confirmButtonText]="('generalDialog.yes' | translate)" [cancelButtonText]="('generalDialog.no' | translate)"
    (confirm)="reminderOwnerToCompleteObservationSheetReport()"></app-dialog-confirm>