@import "@core/scss/base/bootstrap-extended/include"; // Bootstrap includes
@import "@core/scss/base/pages/page-auth.scss";

.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.need-a-help {
  text-align: center;
  margin-top: 15px;
}

.need-a-help a {
  color: var(--primary) !important;
}
